.my-h2 {
  white-space: nowrap;
  font-weight: bold;
  letter-spacing: 1px;
  @include font(26px, 40px);
  padding-bottom: 10px;
  @include media-breakpoint-up(md) {
    @include font(32px, 48px);
    padding-bottom: 15px;
  }
  @include media-breakpoint-up(xl) {
    @include font(32px, 48px);
    padding-bottom: 20px;
  }
}