.my-h2 {
  white-space: nowrap;
  font-weight: bold;
  letter-spacing: 1px;
  @include font(26px, 40px);
  padding-bottom: 10px;
  @include media-breakpoint-up(md) {
    @include font(32px, 48px);
    padding-bottom: 15px;
  }
  @include media-breakpoint-up(xl) {
    @include font(32px, 48px);
    padding-bottom: 20px;
  }
}

.footer-block {
  &-title {
    @include font(16px, 24px);
    font-weight: bold;
    padding-bottom: 10px;
    @include media-breakpoint-up(md) {
      padding-bottom: 15px;
    }
    @include media-breakpoint-up(xl) {
      @include font(24px, 32px);
      padding-bottom: 20px;
    }
  }
  &-list {
    @include font(16px, 24px);
    padding-top: 10px;
    @include media-breakpoint-up(md) {
      padding-top: 15px;
    }
    @include media-breakpoint-up(xl) {
      padding-top: 20px;
    }
  }
}